@page
@model WebApplication2.Pages.Craig.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Description)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserTask)
        {
            <tr>
                <td>
                    <input type="checkbox" value="true" name="@item.Completed" />
                </td>
                    
                <td>
                    @Html.DisplayFor(modelItem => item.Sequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <input asp-for="@item.ID" type="hidden" />
                </td>

            </tr>
            
        }
        </tbody>

    </table>
    
    <input type="submit" value="Update Checklist" class="btn  btn-primary btn-lg btn-block" />
</form>

<form  method="post">
    <div class="checkbox checkboxlist col-sm-9">
        @for (var i = 0; i < Model.UserTask.Count; i++)
        {
            
            <input type="checkbox" asp-for="@Model.UserTask[i].Completed" />
            <label asp-for="@Model.UserTask[i].Sequence">@Model.UserTask[i].Sequence</label>
            
            <b>  <label asp-for="@Model.UserTask[i].Name">@Model.UserTask[i].Name</label> </b>
            
            <label asp-for="@Model.UserTask[i].Description">@Model.UserTask[i].Description</label>
            <br />
            <input asp-for="@Model.UserTask[i].Description" type="hidden" />
            <input asp-for="@Model.UserTask[i].Name" type="hidden" />
            <input asp-for="@Model.UserTask[i].Sequence" type="hidden" />
            <input asp-for="@Model.UserTask[i].ID" type="hidden" />
            
        }
    </div>
    
    <input type="submit" value="Update Checklist" class="btn  btn-primary btn-lg btn-block" />
</form>
<asp:panel id="divPop" visible="false" runat="server">
    <asp:TextBox ID="_lname" runat="server"></asp:TextBox>

    <asp:Button ID="Button1" 
                runat="server" 
                Text="save" OnClick="Button1_Click" 
    />
</asp:panel>
