@page
@using WebApplication2.Models
@model WebApplication2.Pages.CheckList.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Check List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>



<form method="post">
    <table class="table">



        @for (var i = 0; i < Model.Checklist.Count; i++)
        {
            @switch (Model.Checklist[i].DisplayFormat)
                    {
                        case (DisplayFormat.Section):
                        {
                            <tr>
                                <td><label> &emsp;</label></td>
                                <td> <b> <label style="text-decoration: underline" asp-for="@Model.Checklist[i].Description">@Model.Checklist[i].Description </label> </b>
                                     </td>
                            </tr>
                            }
                            break;

                        case (DisplayFormat.Heading):
                            {

                                <tr>
                                    <td><label> &emsp;</label></td>
                                    <td>  <label asp-for="@Model.Checklist[i].Description">@Model.Checklist[i].Description</label>
                                        
                                </tr>
                                
                            }
                            break;

                        case (DisplayFormat.Step):
                        {
                            <tr>
                            <td><input type="checkbox" asp-for="@Model.Checklist[i].Completed"/></td>
                            <td> <label asp-for="@Model.Checklist[i].Description">@Model.Checklist[i].Description</label> </td>
                            </tr>    
                        }
                            break;   

                    }



            <input asp-for="@Model.Checklist[i].Description" type="hidden"/>
            <input asp-for="@Model.Checklist[i].DisplayFormat" type="hidden" />
            <input asp-for="@Model.Checklist[i].Sequence" type="hidden"/>
            <input asp-for="@Model.Checklist[i].ID" type="hidden"/>

        }

    </table>


    <div class="text-center">
        <input type="submit" value="Update Checklist" class="btn  btn-primary btn-lg btn-block"/>
    </div>
</form>